In [298]:
import requests
import pandas as pd
import numpy as np

In [336]:
header={"X-Zomato-API-Key":'ed33c256583658b1187ec335b9abc425'}
parameters={"user-key":'ed33c256583658b1187ec335b9abc425'}
response = requests.get('https://developers.zomato.com/api/v2.1/search',headers=header,params=parameters)

In [337]:
data = response.json()

## Single dictionary Cleaning

In [338]:
val = data['restaurants'][0]['restaurant']
val

{'R': {'has_menu_status': {'delivery': -1, 'takeaway': -1},
  'res_id': 19356617},
 'apikey': 'ed33c256583658b1187ec335b9abc425',
 'id': '19356617',
 'name': '3 Singles Fast Food Cafe',
 'url': 'https://www.zomato.com/chiplun-city/3-singles-fast-food-cafe-chiplun-locality?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1',
 'location': {'address': 'Shop 3, Vastu Siddhi Apartment Ozarwadi, Chiplun Locality, Chiplun City',
  'locality': 'Chiplun Locality',
  'city': 'Chiplun City',
  'city_id': 11900,
  'latitude': '17.5246686000',
  'longitude': '73.5244691000',
  'zipcode': '',
  'country_id': 1,
  'locality_verbose': 'Chiplun Locality, Chiplun City'},
 'switch_to_order_menu': 0,
 'cuisines': 'Fast Food',
 'timings': '11 AM to 11 PM',
 'average_cost_for_two': 200,
 'price_range': 1,
 'currency': 'Rs.',
 'highlights': ['Dinner',
  'Cash',
  'Takeaway Available',
  'Lunch',
  'Delivery',
  'Indoor Seating',
  'Digital Payments Accepted'],
 'offers': [],
 'opentable_support': 0,
 'is_zomato_book_res': 0,
 'mezzo_provider': 'OTHER',
 'is_book_form_web_view': 0,
 'book_form_web_view_url': '',
 'book_again_url': '',
 'thumb': 'https://b.zmtcdn.com/data/reviews_photos/baf/c43635c3b95542d650caa00900d65baf_1584371334.jpg?impolicy=newcropandfit&cropw=780&croph=780&cropoffsetx=0&cropoffsety=62&cropgravity=NorthWest&fitw=200&fith=200&fittype=ignore',
 'user_rating': {'aggregate_rating': 0,
  'rating_text': 'Not rated',
  'rating_color': 'CBCBCB',
  'rating_obj': {'title': {'text': 'NEW'},
   'bg_color': {'type': 'grey', 'tint': '400'}},
  'votes': 0,
  'custom_rating_text': 'NEW',
  'custom_rating_text_background': '#89959B',
  'rating_tool_tip': 'This restaurant is newly opened. The rating will appear once the restaurant completes 60 days in operation.'},
 'all_reviews_count': 3,
 'photos_url': 'https://www.zomato.com/chiplun-city/3-singles-fast-food-cafe-chiplun-locality/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop',
 'photo_count': 3,
 'photos': [{'photo': {'id': 'u_3NzY5MzgyNDYyO',
    'url': 'https://b.zmtcdn.com/data/reviews_photos/baf/c43635c3b95542d650caa00900d65baf_1584371334.jpg',
    'thumb_url': 'https://b.zmtcdn.com/data/reviews_photos/baf/c43635c3b95542d650caa00900d65baf_1584371334.jpg?impolicy=newcropandfit&cropw=780&croph=780&cropoffsetx=0&cropoffsety=62&cropgravity=NorthWest&fitw=200&fith=200&fittype=ignore',
    'user': {'name': 'Richa Kolwankar',
     'zomato_handle': '',
     'foodie_color': 'ffd35d',
     'profile_url': 'https://www.zomato.com/users/richa-kolwankar-163564789?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1',
     'profile_image': 'https://b.zmtcdn.com/data/user_profile_pictures/b11/99cac410de99c59d0b4b18958d48ab11.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A',
     'profile_deeplink': 'zomato://u/163564789'},
    'res_id': 19356617,
    'caption': '',
    'timestamp': 1584371335,
    'friendly_time': 'one month ago',
    'width': 780,
    'height': 1040}},
  {'photo': {'id': 'u_yNDQxNTc4NDc1N',
    'url': 'https://b.zmtcdn.com/data/reviews_photos/111/3fb92bdc4fdf5ce530d3315bfcc56111_1584371333.jpg',
    'thumb_url': 'https://b.zmtcdn.com/data/reviews_photos/111/3fb92bdc4fdf5ce530d3315bfcc56111_1584371333.jpg?impolicy=newcropandfit&cropw=578&croph=578&cropoffsetx=0&cropoffsety=352&cropgravity=NorthWest&fitw=200&fith=200&fittype=ignore',
    'user': {'name': 'Richa Kolwankar',
     'foodie_color': 'ffd35d',
     'profile_url': 'https://www.zomato.com/users/richa-kolwankar-163564789?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1',
     'profile_image': 'https://b.zmtcdn.com/data/user_profile_pictures/b11/99cac410de99c59d0b4b18958d48ab11.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A',
     'profile_deeplink': 'zomato://u/163564789'},
    'res_id': 19356617,
    'caption': '',
    'timestamp': 1584371333,
    'friendly_time': 'one month ago',
    'width': 578,
    'height': 1280}},
  {'photo': {'id': 'u_ODQ4MTg3MzMxNz',
    'url': 'https://b.zmtcdn.com/data/reviews_photos/192/8e73f3db0064db1348b8be2e87d27192_1584371334.jpg',
    'thumb_url': 'https://b.zmtcdn.com/data/reviews_photos/192/8e73f3db0064db1348b8be2e87d27192_1584371334.jpg?impolicy=newcropandfit&cropw=578&croph=578&cropoffsetx=0&cropoffsety=368&cropgravity=NorthWest&fitw=200&fith=200&fittype=ignore',
    'user': {'name': 'Richa Kolwankar',
     'zomato_handle': '',
     'foodie_color': 'ffd35d',
     'profile_url': 'https://www.zomato.com/users/richa-kolwankar-163564789?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1',
     'profile_image': 'https://b.zmtcdn.com/data/user_profile_pictures/b11/99cac410de99c59d0b4b18958d48ab11.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A',
     'profile_deeplink': 'zomato://u/163564789'},
    'res_id': 19356617,
    'caption': '',
    'timestamp': 1584371334,
    'friendly_time': 'one month ago',
    'width': 578,
    'height': 1280}}],
 'menu_url': 'https://www.zomato.com/chiplun-city/3-singles-fast-food-cafe-chiplun-locality/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop',
 'featured_image': 'https://b.zmtcdn.com/data/reviews_photos/baf/c43635c3b95542d650caa00900d65baf_1584371334.jpg',
 'has_online_delivery': 1,
 'is_delivering_now': 0,
 'store_type': '',
 'include_bogo_offers': True,
 'deeplink': 'zomato://restaurant/19356617',
 'is_table_reservation_supported': 0,
 'has_table_booking': 0,
 'events_url': 'https://www.zomato.com/chiplun-city/3-singles-fast-food-cafe-chiplun-locality/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1',
 'phone_numbers': '+91 8975853000',
 'all_reviews': {'reviews': [{'review': []}, {'review': []}, {'review': []}]},
 'establishment': ['Quick Bites'],
 'establishment_types': []}

In [339]:
type(val)

dict

In [340]:
val.keys()

dict_keys(['R', 'apikey', 'id', 'name', 'url', 'location', 'switch_to_order_menu', 'cuisines', 'timings', 'average_cost_for_two', 'price_range', 'currency', 'highlights', 'offers', 'opentable_support', 'is_zomato_book_res', 'mezzo_provider', 'is_book_form_web_view', 'book_form_web_view_url', 'book_again_url', 'thumb', 'user_rating', 'all_reviews_count', 'photos_url', 'photo_count', 'photos', 'menu_url', 'featured_image', 'has_online_delivery', 'is_delivering_now', 'store_type', 'include_bogo_offers', 'deeplink', 'is_table_reservation_supported', 'has_table_booking', 'events_url', 'phone_numbers', 'all_reviews', 'establishment', 'establishment_types'])

In [341]:
columns = [ 'id', 'name', 'location', 'switch_to_order_menu', 'cuisines', 'timings', 'average_cost_for_two', 'price_range', 
           'currency', 'highlights', 'offers', 'user_rating', 'has_online_delivery', 
           'is_delivering_now', 'is_table_reservation_supported','has_table_booking', 'establishment']

In [342]:
filtered_dic = {key: value for key, value in val.items() if key in columns}

In [343]:
filtered_dic

{'id': '19356617',
 'name': '3 Singles Fast Food Cafe',
 'location': {'address': 'Shop 3, Vastu Siddhi Apartment Ozarwadi, Chiplun Locality, Chiplun City',
  'locality': 'Chiplun Locality',
  'city': 'Chiplun City',
  'city_id': 11900,
  'latitude': '17.5246686000',
  'longitude': '73.5244691000',
  'zipcode': '',
  'country_id': 1,
  'locality_verbose': 'Chiplun Locality, Chiplun City'},
 'switch_to_order_menu': 0,
 'cuisines': 'Fast Food',
 'timings': '11 AM to 11 PM',
 'average_cost_for_two': 200,
 'price_range': 1,
 'currency': 'Rs.',
 'highlights': ['Dinner',
  'Cash',
  'Takeaway Available',
  'Lunch',
  'Delivery',
  'Indoor Seating',
  'Digital Payments Accepted'],
 'offers': [],
 'user_rating': {'aggregate_rating': 0,
  'rating_text': 'Not rated',
  'rating_color': 'CBCBCB',
  'rating_obj': {'title': {'text': 'NEW'},
   'bg_color': {'type': 'grey', 'tint': '400'}},
  'votes': 0,
  'custom_rating_text': 'NEW',
  'custom_rating_text_background': '#89959B',
  'rating_tool_tip': 'This restaurant is newly opened. The rating will appear once the restaurant completes 60 days in operation.'},
 'has_online_delivery': 1,
 'is_delivering_now': 0,
 'is_table_reservation_supported': 0,
 'has_table_booking': 0,
 'establishment': ['Quick Bites']}

In [344]:
location = filtered_dic['location']
location

{'address': 'Shop 3, Vastu Siddhi Apartment Ozarwadi, Chiplun Locality, Chiplun City',
 'locality': 'Chiplun Locality',
 'city': 'Chiplun City',
 'city_id': 11900,
 'latitude': '17.5246686000',
 'longitude': '73.5244691000',
 'zipcode': '',
 'country_id': 1,
 'locality_verbose': 'Chiplun Locality, Chiplun City'}

In [345]:
del filtered_dic['location']

In [346]:
loc_key = location.keys()
loc_key

dict_keys(['address', 'locality', 'city', 'city_id', 'latitude', 'longitude', 'zipcode', 'country_id', 'locality_verbose'])

In [347]:
for i in loc_key:
    filtered_dic[i] = location.get(i)

In [348]:
filtered_dic

{'id': '19356617',
 'name': '3 Singles Fast Food Cafe',
 'switch_to_order_menu': 0,
 'cuisines': 'Fast Food',
 'timings': '11 AM to 11 PM',
 'average_cost_for_two': 200,
 'price_range': 1,
 'currency': 'Rs.',
 'highlights': ['Dinner',
  'Cash',
  'Takeaway Available',
  'Lunch',
  'Delivery',
  'Indoor Seating',
  'Digital Payments Accepted'],
 'offers': [],
 'user_rating': {'aggregate_rating': 0,
  'rating_text': 'Not rated',
  'rating_color': 'CBCBCB',
  'rating_obj': {'title': {'text': 'NEW'},
   'bg_color': {'type': 'grey', 'tint': '400'}},
  'votes': 0,
  'custom_rating_text': 'NEW',
  'custom_rating_text_background': '#89959B',
  'rating_tool_tip': 'This restaurant is newly opened. The rating will appear once the restaurant completes 60 days in operation.'},
 'has_online_delivery': 1,
 'is_delivering_now': 0,
 'is_table_reservation_supported': 0,
 'has_table_booking': 0,
 'establishment': ['Quick Bites'],
 'address': 'Shop 3, Vastu Siddhi Apartment Ozarwadi, Chiplun Locality, Chiplun City',
 'locality': 'Chiplun Locality',
 'city': 'Chiplun City',
 'city_id': 11900,
 'latitude': '17.5246686000',
 'longitude': '73.5244691000',
 'zipcode': '',
 'country_id': 1,
 'locality_verbose': 'Chiplun Locality, Chiplun City'}

In [349]:
filtered_dic['user_rating'] = filtered_dic['user_rating']['aggregate_rating']
filtered_dic

{'id': '19356617',
 'name': '3 Singles Fast Food Cafe',
 'switch_to_order_menu': 0,
 'cuisines': 'Fast Food',
 'timings': '11 AM to 11 PM',
 'average_cost_for_two': 200,
 'price_range': 1,
 'currency': 'Rs.',
 'highlights': ['Dinner',
  'Cash',
  'Takeaway Available',
  'Lunch',
  'Delivery',
  'Indoor Seating',
  'Digital Payments Accepted'],
 'offers': [],
 'user_rating': 0,
 'has_online_delivery': 1,
 'is_delivering_now': 0,
 'is_table_reservation_supported': 0,
 'has_table_booking': 0,
 'establishment': ['Quick Bites'],
 'address': 'Shop 3, Vastu Siddhi Apartment Ozarwadi, Chiplun Locality, Chiplun City',
 'locality': 'Chiplun Locality',
 'city': 'Chiplun City',
 'city_id': 11900,
 'latitude': '17.5246686000',
 'longitude': '73.5244691000',
 'zipcode': '',
 'country_id': 1,
 'locality_verbose': 'Chiplun Locality, Chiplun City'}

In [350]:
filtered_dic['highlights'] = ','.join(filtered_dic['highlights'])
filtered_dic['highlights']

'Dinner,Cash,Takeaway Available,Lunch,Delivery,Indoor Seating,Digital Payments Accepted'

In [351]:
filtered_dic['establishment'] = ','.join(filtered_dic['establishment'])
filtered_dic['establishment']

'Quick Bites'

In [352]:
filtered_dic['offers'] = ','.join(filtered_dic['offers'])
filtered_dic['offers']

''

In [353]:
filtered_dic.values()

dict_values(['19356617', '3 Singles Fast Food Cafe', 0, 'Fast Food', '11 AM to 11 PM', 200, 1, 'Rs.', 'Dinner,Cash,Takeaway Available,Lunch,Delivery,Indoor Seating,Digital Payments Accepted', '', 0, 1, 0, 0, 0, 'Quick Bites', 'Shop 3, Vastu Siddhi Apartment Ozarwadi, Chiplun Locality, Chiplun City', 'Chiplun Locality', 'Chiplun City', 11900, '17.5246686000', '73.5244691000', '', 1, 'Chiplun Locality, Chiplun City'])

In [354]:
filtered_dic.keys()

dict_keys(['id', 'name', 'switch_to_order_menu', 'cuisines', 'timings', 'average_cost_for_two', 'price_range', 'currency', 'highlights', 'offers', 'user_rating', 'has_online_delivery', 'is_delivering_now', 'is_table_reservation_supported', 'has_table_booking', 'establishment', 'address', 'locality', 'city', 'city_id', 'latitude', 'longitude', 'zipcode', 'country_id', 'locality_verbose'])

In [360]:
d_f = pd.DataFrame(filtered_dic, index=[0])
d_f

,id,name,switch_to_order_menu,cuisines,timings,average_cost_for_two,price_range,currency,highlights,offers,user_rating,has_online_delivery,is_delivering_now,is_table_reservation_supported,has_table_booking,establishment,address,locality,city,city_id,latitude,longitude,zipcode,country_id,locality_verbose
0,19356617,3 Singles Fast Food Cafe,0,Fast Food,11 AM to 11 PM,200,1,Rs.,"Dinner,Cash,Takeaway Available,Lunch,Delivery,...",,0,1,0,0,0,Quick Bites,"Shop 3, Vastu Siddhi Apartment Ozarwadi, Chipl...",Chiplun Locality,Chiplun City,11900,17.5246686000,73.5244691000,,1,"Chiplun Locality, Chiplun City"

## Cleanig all the data and converting into dataframe

In [287]:
columns = [ 'id', 'name', 'location', 'switch_to_order_menu', 'cuisines', 'timings', 'average_cost_for_two', 'price_range', 
           'currency', 'highlights', 'offers', 'user_rating', 'has_online_delivery', 'is_delivering_now', 
           'is_table_reservation_supported','has_table_booking', 'establishment']

loc_key = ['address', 'locality', 'city', 'city_id', 'latitude', 'longitude', 'zipcode', 'country_id', 'locality_verbose']


def make_dataframe():
    row = []
    for number in range(1,80,20):
        link = "https://developers.zomato.com/api/v2.1/search?start=" + str(number)
        response = requests.get(link,headers=header,params=parameters)
        data = response.json()

        for count in range(0,len(data['restaurants'])):
            val = data['restaurants'][count]['restaurant']
            filtered_dic = {key: value for key, value in val.items() if key in columns}
            location = filtered_dic['location']
            del filtered_dic['location']
            for i in loc_key:
                filtered_dic[i] = location.get(i)
            filtered_dic['user_rating'] = filtered_dic['user_rating']['aggregate_rating']
            filtered_dic['highlights'] = ','.join(filtered_dic['highlights'])
            filtered_dic['establishment'] = ','.join(filtered_dic['establishment'])
            filtered_dic['offers'] = ','.join(filtered_dic['offers'])
            row.append(filtered_dic.values())

    return row

In [288]:
dataset = make_dataframe()

In [309]:
col = ['id', 'name', 'order_menu', 'cuisines', 'timings', 'cost_for_two', 'price_range', 'currency', 
       'highlights', 'offers', 'user_rating', 'online_delivery', 'delivering', 'reservation_supported', 
       'has_table_booking', 'establishment', 'address', 'locality', 'city', 'city_id', 'latitude', 'longitude', 'zipcode', 
       'country_id', 'locality_verbose']

df = pd.DataFrame(dataset, columns = col)

In [310]:
pd.set_option('display.max_columns', None)
df = df.replace('', np.nan, regex=True)

In [311]:
df.head()

,id,name,order_menu,cuisines,timings,cost_for_two,price_range,currency,highlights,offers,user_rating,online_delivery,delivering,reservation_supported,has_table_booking,establishment,address,locality,city,city_id,latitude,longitude,zipcode,country_id,locality_verbose
0,19196130,Burger Lounge - Beach,0,"Sandwich, Burger",NaN,300,1,Rs.,"Takeaway Available,Debit Card,Dinner,Delivery,...",NaN,3.4,1,0,0,0,Casual Dining,"8/282 A(a), Silk Street, Beach Old Corporation...",Kuttichira,Kozhikode,11296,11.2537255268,75.7725622505,NaN,1,"Kuttichira, Kozhikode"
1,19328145,The Beirut Blends,0,"Cafe, Arabian, BBQ, Continental",11am – 11pm (Mon-Sun),300,1,Rs.,"Delivery,Credit Card,Dinner,Takeaway Available...",NaN,3.6,1,0,0,0,Quick Bites,"Kunnathuparambil Complex, T.K Road, Thiruvalla...",Thiruvalla Locality,Thiruvalla,11798,9.3850460000,76.5769600000,NaN,1,"Thiruvalla Locality, Thiruvalla"
2,19217165,chicking,0,"Cafe, Beverages",NaN,400,2,Rs.,"Credit Card,Lunch,Takeaway Available,Cash,Dinn...",NaN,0,1,0,0,0,Casual Dining,"attingal junction, trivandrum, Attingal Locali...",Attingal Locality,Attingal,11689,8.6907476917,76.8223912641,NaN,1,"Attingal Locality, Attingal"
3,19073916,Fig & The Bay,0,"Cafe Food, Coffee and Tea","8 AM to 4 PM (Wed-Sun), Mon & Tue Closed",0,1,$,"Cash,Credit Card,Debit Card,Lunch,Takeaway Ava...",NaN,3.3,0,0,0,0,Café,"24 Liberty Crescent, Corinella, VIC",Corinella,Corinella,1395,-38.4166540000,145.4276240000,NaN,14,"Corinella, Corinella"
4,16605193,Captains Creek Winery,0,"Pizza, Modern Australian","11 AM to 5 PM (Sat-Sun), Mon, Tue, Wed, Thu & ...",20,2,$,"Dinner,Cash,Debit Card,Lunch,Credit Card,Indoo...",NaN,3.9,0,0,0,0,Fast Food,"Kangaroo Hills Rd, Blampied, Blampied",Blampied,Blampied,1562,-37.3491480000,144.0258790000,3364,14,"Blampied, Blampied"

In [308]:
df['average_cost_for_two'] = df['average_cost_for_two'].replace(0, np.nan)
df.head()

,id,name,switch_to_order_menu,cuisines,timings,average_cost_for_two,price_range,currency,highlights,offers,user_rating,has_online_delivery,is_delivering_now,is_table_reservation_supported,has_table_booking,establishment,address,locality,city,city_id,latitude,longitude,zipcode,country_id,locality_verbose
0,19196130,Burger Lounge - Beach,0,"Sandwich, Burger",NaN,300.0,1,Rs.,"Takeaway Available,Debit Card,Dinner,Delivery,...",NaN,3.4,1,0,0,0,Casual Dining,"8/282 A(a), Silk Street, Beach Old Corporation...",Kuttichira,Kozhikode,11296,11.2537255268,75.7725622505,NaN,1,"Kuttichira, Kozhikode"
1,19328145,The Beirut Blends,0,"Cafe, Arabian, BBQ, Continental",11am – 11pm (Mon-Sun),300.0,1,Rs.,"Delivery,Credit Card,Dinner,Takeaway Available...",NaN,3.6,1,0,0,0,Quick Bites,"Kunnathuparambil Complex, T.K Road, Thiruvalla...",Thiruvalla Locality,Thiruvalla,11798,9.3850460000,76.5769600000,NaN,1,"Thiruvalla Locality, Thiruvalla"
2,19217165,chicking,0,"Cafe, Beverages",NaN,400.0,2,Rs.,"Credit Card,Lunch,Takeaway Available,Cash,Dinn...",NaN,0,1,0,0,0,Casual Dining,"attingal junction, trivandrum, Attingal Locali...",Attingal Locality,Attingal,11689,8.6907476917,76.8223912641,NaN,1,"Attingal Locality, Attingal"
3,19073916,Fig & The Bay,0,"Cafe Food, Coffee and Tea","8 AM to 4 PM (Wed-Sun), Mon & Tue Closed",NaN,1,$,"Cash,Credit Card,Debit Card,Lunch,Takeaway Ava...",NaN,3.3,0,0,0,0,Café,"24 Liberty Crescent, Corinella, VIC",Corinella,Corinella,1395,-38.4166540000,145.4276240000,NaN,14,"Corinella, Corinella"
4,16605193,Captains Creek Winery,0,"Pizza, Modern Australian","11 AM to 5 PM (Sat-Sun), Mon, Tue, Wed, Thu & ...",20.0,2,$,"Dinner,Cash,Debit Card,Lunch,Credit Card,Indoo...",NaN,3.9,0,0,0,0,Fast Food,"Kangaroo Hills Rd, Blampied, Blampied",Blampied,Blampied,1562,-37.3491480000,144.0258790000,3364,14,"Blampied, Blampied"

In [334]:
df.to_csv('zomato-data')